[submodule "AbsenteeLandlord"]
	path = AbsenteeLandlord
	url = git://github.com/lashtear/AbsenteeLandlord.git
[submodule "Variables"]
	path = Variables
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Variables
[submodule "DynamicPageList"]
	path = DynamicPageList
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/DynamicPageList
