[submodule "Cite"]
	path = Cite
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Cite.git
[submodule "AbsenteeLandlord"]
	path = AbsenteeLandlord
	url = lucca@kuu.mechanipus.com:git/AbsenteeLandlord
[submodule "InputBox"]
	path = InputBox
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/InputBox.git
[submodule "ParserFunctions"]
	path = ParserFunctions
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/ParserFunctions.git
