[submodule "Cite"]
	path = Cite
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Cite.git
[submodule "AbsenteeLandlord"]
	path = AbsenteeLandlord
	url = git://github.com/lashtear/AbsenteeLandlord.git
[submodule "InputBox"]
	path = InputBox
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/InputBox.git
[submodule "ParserFunctions"]
	path = ParserFunctions
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/ParserFunctions.git
[submodule "SyntaxHighlight_GeSHi"]
	path = SyntaxHighlight_GeSHi
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/SyntaxHighlight_GeSHi
[submodule "Variables"]
	path = Variables
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/Variables
